html,body{
    height:100%;
    background-image: url("images/bgimage_small_70.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}




.center {
    float: right;
    position:relative;
    left:-50%;
    top:20%;
  }

.center > .logo {
    position: relative;
    left:50%;
}

.logo{
    position: relative;
}

img{
width: 50vh;
animation-name:fadeIn;
animation-duration: 4s;
opacity:1;}


@keyframes fadeIn {
    0% { opacity: 0; }

    50%{opacity:0;}

    100% { opacity: 1; }
  }

  .text{
    font-family: "Degular";
    font-size: 3vw;
    font-weight: bold;
    line-height:90%;
    text-align:center;
    margin-top: -3vh;

    animation-name:fadeInText;
    animation-duration: 7s;
    opacity:1;
  }

  @keyframes fadeInText {
    0% { opacity: 0; }

    50%{opacity:0;}

    100% { opacity: 1; }
  }